<!--<app-navbar></app-navbar>-->
<section class="container section pb-5">
  <h2 class="section-heading h1 pt-4">Mapbox </h2>
<!--  <p class="section-description pb-4">En <a href="">peajes.com</a> podras hacer un estimado del valor que tendras que pagar en peajes, viaja tranquilo, viaja comodo y sobre todo no descuides tu presupuesto...</p>-->
  <div class="container">
    <div class="row">
      <div class="col">
        <app-form></app-form>
      </div>
      <div class="col">
        <app-map></app-map>
      </div>
    </div>
  </div>


</section>
