<!--<p>form works!</p>-->
<div class="card">
  <h5 class="card-header">Buscar</h5>
  <div class="card-body">
    <h5 class="card-title">Ciudad</h5>

    <input type="text"
           #inputElementSearchCity
           class="form-control"
           placeholder="Search City"
           [(ngModel)]="modelPlace"
           (keyup)="getCities(inputElementSearchCity.value)">

    <div class="list-group" *ngIf="hasCities">
      <button type="button"
              class="list-group-item list-group-item-action"
              *ngFor="let place of places"
              (click)="setCoordinatesToMap(place.latitude, place.longitude)">
        {{place.name}}
      </button>
    </div>
    <hr>

    <!--<div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">language</th>
          <th scope="col">latitude</th>
          <th scope="col">longitude</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let place of places">
          <td>{{place.name}}</td>
          <td>{{place.language}}</td>
          <td>{{place.latitude}}</td>
          <td>{{place.longitude}}</td>

        </tr>
        </tbody>
      </table>
    </div>-->

  </div>
</div>
