<!--<p>form works!</p>-->
<div class="card">
  <h5 class="card-header">Buscar</h5>
  <div class="card-body">
    <h5 class="card-title">Ciudad Origen</h5>

    <input type="text"
           #inputElementSearchCityOrigin
           class="form-control"
           placeholder="Search City"
           [(ngModel)]="modelPlaceOrigin"
           (keyup)="getCitiesOrigin(inputElementSearchCityOrigin.value)">

    <div class="list-group" *ngIf="hasPlacesOrigin">
      <button type="button"
              class="list-group-item list-group-item-action"
              *ngFor="let place of placesOrigin"
              (click)="setCoordinatesToOrigin(place)">
        {{place.name}}
      </button>
    </div>
    <hr>
    <h5 class="card-title">Ciudad Destino</h5>
    <input type="text"
           #inputElementSearchCityDestiny
           class="form-control"
           placeholder="Search City"
           [(ngModel)]="modelPlaceDestiny"
           (keyup)="getCitiesDestiny(inputElementSearchCityDestiny.value)">

    <div class="list-group" *ngIf="hasPlacesDestiny">
      <button type="button"
              class="list-group-item list-group-item-action"
              *ngFor="let place of placesDestiny"
              (click)="setCoordinatesToDestiny(place)">
        {{place.name}}
      </button>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <button type="button" class="btn btn-primary" (click)="calcRoute()">Calcular Ruta</button>
      </div>
    </div>


    <!--<div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">language</th>
          <th scope="col">latitude</th>
          <th scope="col">longitude</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let place of places">
          <td>{{place.name}}</td>
          <td>{{place.language}}</td>
          <td>{{place.latitude}}</td>
          <td>{{place.longitude}}</td>

        </tr>
        </tbody>
      </table>
    </div>-->

  </div>
</div>
